<h1 class="display-4">Contact:</h1>
<br>
<div class="wrapper">
    <div class="info-panel p-3">
        <address>
            Contact us at <a href="mailto:forster-c@ulster.ac.uk">Developer's Email</a>.<br>
        </address>
        </div>
    </div>
