<h1 class="display-4">F.A.Q.</h1>
<br>

<div class="wrapper">
    <div class="info-panel p-3">
        <details>
            <summary>
                I'm a customer! How do I start a workout?
            </summary>
            <p>
                Register and click on "Start Workout" on the menu bar. Fill out the questionnaire and you're ready to go!
            </p>
        </details>
    </div>
    <div class="info-panel p-3">
        <details>
            <summary>
                What in tarnation does RIR mean?
            </summary>
            <p>
                RIR refers to "Reps in Reserve", when completing an exercise set you should enter how many more reps you have left to give.
            </p>
        </details>
    </div>

    <div class="info-panel p-3">
        <details>
            <summary>
                What in tarnation is 10 Reps Maximum?
            </summary>
            <p>
                10 Reps Maximum is a way of working out your current ability when doing an exercise. Your future workouts will be based on this.
            </p>
        </details>
    </div>

    <div class="info-panel p-3">
        <details>
            <summary>
                When clicking "Submit" my workout is still incomplete?
            </summary>
            <p>
                You'll need to make sure all your reps and sets are complete and submitted
            </p>
        </details>
    </div>

    <div class="info-panel p-3">
        <details>
            <summary>
                I don't know how to do an exercise!
            </summary>
            <p>
                If you click on "Video How To" in your exercise info a video showing you how to do the exercise will be provided
            </p>
        </details>
    </div>

    <div class="info-panel p-3">
        <details>
            <summary>
                Can I edit a workout after I've submitted it?
            </summary>
            <p>
                Nope, you need to double-check all the info you've entered. Once submitted you can't edit it.
            </p>
        </details>
    </div>

    <div class="info-panel p-3">
        <details>
            <summary>
                What equipment do I need to complete the workout plans?
            </summary>
            <p>
                A well-stocked gym, workout gear like breathable shoes, shorts, and shirts. And if you're experienced, some chalk, a weight belt, and maybe a squat plug. Mainly the only thing required is a gym membership and a can-do attitude!
            </p>
        </details>
    </div>

    <div class="info-panel p-3">
        <details>
            <summary>
                What data do you store?
            </summary>
            <p>
                We store all information you enter into the site. But for your core account information - navigate to your account (top right) select personal data and download it
            </p>
        </details>
    </div>
</div>
