@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



<div class="text-center">
    <h1 class="display-5">About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis mauris eleifend, gravida lacus at, egestas eros. Phasellus id velit ac odio ultricies tempor eu ac justo. Sed dictum sit amet lorem at mollis. Duis a lectus auctor mi finibus tempus. Nulla mollis, massa sed elementum tincidunt, nunc nisi facilisis diam, bibendum congue leo ex ut ex. Vestibulum luctus augue quis ante interdum gravida. Suspendisse condimentum orci ut tristique sagittis. Nunc sagittis tincidunt mattis. Vivamus eu turpis ante. Pellentesque quis risus sit amet orci mattis fermentum a sit amet sem.</p>
</div>


<div class="text-center">
    <h1 class="display-5">What the App does</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis mauris eleifend, gravida lacus at, egestas eros. Phasellus id velit ac odio ultricies tempor eu ac justo. Sed dictum sit amet lorem at mollis. Duis a lectus auctor mi finibus tempus. Nulla mollis, massa sed elementum tincidunt, nunc nisi facilisis diam, bibendum congue leo ex ut ex. Vestibulum luctus augue quis ante interdum gravida. Suspendisse condimentum orci ut tristique sagittis. Nunc sagittis tincidunt mattis. Vivamus eu turpis ante. Pellentesque quis risus sit amet orci mattis fermentum a sit amet sem.</p>
</div>


<div class="text-center">
    <h1 class="display-5">How To Start</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis mauris eleifend, gravida lacus at, egestas eros. Phasellus id velit ac odio ultricies tempor eu ac justo. Sed dictum sit amet lorem at mollis. Duis a lectus auctor mi finibus tempus. Nulla mollis, massa sed elementum tincidunt, nunc nisi facilisis diam, bibendum congue leo ex ut ex. Vestibulum luctus augue quis ante interdum gravida. Suspendisse condimentum orci ut tristique sagittis. Nunc sagittis tincidunt mattis. Vivamus eu turpis ante. Pellentesque quis risus sit amet orci mattis fermentum a sit amet sem.</p>
</div>