@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Your Personalised Workout App!</h1>
</div>



<div class="text-center">
    <h1 class="display-5">About</h1>
    <p>To get the best results when going to the gym (be it gaining muscle/losing weight or keeping your current fitness level going) it's helpful to have a tailor-made, well-thought-out program with regular exercises. Many Personal Trainers will design a program suited to your needs using a standard process that considers your weight, height, calorie intake, and current ability at the gym. Instead of having to record your workout sessions on pen and paper, you can create an account, answer a simple set of questions, and have an easy-to-use website to keep you on track with your fitness goals.</p>
</div>


<div class="text-center">
    <h1 class="display-5">What the App does</h1>
    <p>Once filling out a short questionnaire, a personalized long-term workout plan will be generated. This website will track your progress and generate your future workout sessions based on your feedback. You can use this website on your mobile device in the gym and record how many sets and reps you've completed. At any point, you can navigate to your personalized dashboard to quickly see your progress.</p>
</div>


<div class="text-center">
    <h1 class="display-5">How To Start</h1>
    <p>If you're a PT or a customer, click on the option to register. Fill out the form and create your account! As a customer, you'll then have the ability to create your workout. Then you're set! Navigate to "Start Workout" on the menu bar. Fill in the form, and you'll be able to start your workout. The first week will assess your current ability using your 10 Rep Maximum (a sports science formula to calculate the intensity of your future workouts). Once you've completed your first week, you'll be able to give feedback on how you felt after completing an exercise by entering how many Reps in Reserve you have (RIR) and how you feel in general after an exercise. Once submitted, your next week will be adjusted considering how your previous week went.</p>
</div>