@using SmartPTUI.Data.DomainModels
@model ExcersizeMeta

<h3>Excersize Info</h3>
<p>Name: @Model.ExcersizeType.WorkoutName</p>
<p>Sets: @Model.Sets</p>
<p>Reps: @Model.Reps</p>
<p>Weight: @Model.Weight</p>
