@using SmartPTUI.Data.DomainModels
@model WorkoutPlan

@for (int i = 0; i < Model.WorkoutWeek.Count; i++)
{
    <h1>Workout Weeks:</h1>
    @Html.ActionLink("Week "+(i+1), "WorkoutWeek", "Workout", new { id = Model.WorkoutWeek[i].Id })
}
