@using SmartPTUI.Data.DomainModels
@model WorkoutSession

@for (int z = 0; z < Model.Excersizes.Count; z++)
{
    <h3>Excersizes:</h3>
    @Html.ActionLink("Excersize "+(z+1), "ExcersizeMeta", "Workout", new { id = Model.Excersizes[z].Id})

}
