@using SmartPTUI.Data.DomainModels
@model WorkoutSession

    <h3>Excersizes:</h3>
@for (int z = 0; z < Model.Excersizes.Count; z++)
{
   <p> @Html.ActionLink("Excersize "+(z+1), "ExcersizeMeta", "Workout", new { id = Model.Excersizes[z].ExcersizeMetaId}) </p>

}
