@model AdminViewModel
<h1>Admin Dashboard</h1>

<form asp-controller="Admin" asp-action="SubmitCustomerUpdate">
    <fieldset>


        @for (int i = 0; i < Model.CustomerList.Count; i++)
        {
            @Html.HiddenFor(x => x.CustomerList[i].Id);
            <p>  @Model.CustomerList[i].User.Email </p>

            <div class="form-group">
                <p>Type: Customer</p>
                @Html.LabelFor(m => m.CustomerList[i].isDisabled)
                @Html.CheckBoxFor(m => m.CustomerList[i].isDisabled)                
            </div>

        }

        <button type="submit" class="btn btn-primary">Submit</button>



    </fieldset>

</form>