@model PTPageViewModel

@{
}

<h1 class="text-center">Welcome PT!</h1>

<div class="form p-3 m-2">
    <h2 class="text-center">Add new client</h2>
    <form asp-controller="PT" asp-action="SubmitCustomerAddition">
        <fieldset>
            <div class="form-group">
                @Html.LabelFor(m => m.CustomerEmail)
                @Html.TextBoxFor(m => m.CustomerEmail, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CustomerEmail, null, new { @class = "text-danger" })
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

    </fieldset>

    </form>
</div>

<div class="info-panel p-3 m-2">
    <h2 class="text-center">Existing clients</h2>

    <ul class="list-group">
        @foreach (var customer in Model.PersonalTrainer.Customers)
        {
            <li class="list-group-item"> @Html.ActionLink(customer.FirstName+" "+customer.LastName, "PTndex", "Dashboard", new { userId = customer.Id })</li>
        }
    </ul>
</div>

